filebeat.inputs:
  - type: log
    paths:
      - /var/lib/jenkins/jobs/*/builds/*/log
    exclude_files:
      - '^/var/lib/jenkins/jobs/util*'
      - '^/var/lib/jenkins/jobs/ci-rhos-shadejanitor*'
      - '^/var/lib/jenkins/jobs/upshift-component-ci-shadejanitor*'
    multiline.pattern: 'TASK'
    multiline.negate: true
    multiline.match: after

output.logstash:
  hosts: ["{{ logstash_address }}"]

monitoring.enabled: false
logging.metrics.enabled: false
