[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
infraform = {path = ".",editable = true}

[packages]
infraform = {path = ".",editable = true}
crayons = "*"
podman = "*"
jinja2 = "*"
ansible = "*"
jenkinsapi = "*"

[requires]
python_version = "3.7"
