execute: "tox -e dsvm-functional"
image: neutron-dsvm-functional-tests
dockerfile: |
  FROM {{ vars['image']|default("ubi8") }}
  RUN dnf install -y python36
  RUN pip3 install tox
  RUN dnf install -y http://rhos-release.virt.bos.redhat.com/repos/rhos-release/rhos-release-latest.noarch.rpm
  RUN dnf install -y 'dnf-command(config-manager)'

  {% if vars['release']|default(False) %}
      RUN rhos-release -x
      RUN rhos-release {{ vars['release'] }}
      RUN dnf config-manager --set-enabled rhelosp-{{ vars['release'] }}.0-unittest
      RUN dnf config-manager --set-enabled rhelosp-{{ vars['release'] }}.0-test-deps
  {% endif %}

 
  RUN dnf install -y python3-devel sudo git gcc openssl-devel gettext openstack-neutron openstack-neutron-openvswitch python3-oslotest nmap-ncat ebtables openstack-selinux python3-novaclient python3-keystonemiddleware psmisc nfs-utils selinux-policy python3-os-testr python3-neutron-lib-tests mariadb-server iproute-tc
  RUN sudo chmod -R 777 /etc/neutron && sudo chmod a+r /usr/share/neutron/neutron-dist.conf && sudo chmod 777 /opt
  RUN /usr/share/openvswitch/scripts/ovs-ctl start --system-id=random
  CMD [ "/sbin/init" ]
