{% if "release" in vars %}
execute: "git checkout origin/rhos-{{ vars['release'] }}.0-patches; tox -e py36"
{% else %}
execute: "tox -e py36"
{% endif %}
image: unit-tests
dockerfile: |
  FROM {{ image_name|default("ubi8") }}
  RUN dnf install -y python36
  RUN pip3 install tox
  RUN dnf install -y http://rhos-release.virt.bos.redhat.com/repos/rhos-release/rhos-release-latest.noarch.rpm

  {% if vars['release']|default(False) %}
      RUN rhos-release {{ vars['release'] }}
      RUN yum-config-manager --enable rhelosp-{{ vars['release'] }}.0-unittest
  {% endif %}
 
  RUN dnf install -y python3-devel git gcc openssl-devel gettext procps
